{
  "extends": "airbnb-base",
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages"
    ],
    "import/prefer-default-export": "off",
    "max-len": "off",
    "prefer-const": "off"
  }
}
